<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2011/10/nuspec.xsd">
  <metadata>
    <id>sensu-agent</id>
    <version>${ProductVersion}</version>
    <owners>Sensu Engineering</owners>
    <title>sensu-agent (Install)</title>
    <authors>Sensu Inc</authors>
    <projectUrl>https://github.com/sensu/sensu-go</projectUrl>
    <copyright>2019 Sensu, Inc.</copyright>
    <licenseUrl>https://sensu.io/sensu-license</licenseUrl>
    <requireLicenseAcceptance>true</requireLicenseAcceptance>
    <projectSourceUrl>https://github.com/sensu/sensu-enterprise-go</projectSourceUrl>
    <docsUrl>https://docs.sensu.io/sensu-go/latest</docsUrl>
    <mailingListUrl>https://discourse.sensu.io/</mailingListUrl>
    <bugTrackerUrl>https://github.com/sensu/sensu-go/issues</bugTrackerUrl>
    <tags>sensu-agent sensu agent go sensu-go monitor monitoring metric metrics</tags>
    <summary>The official Sensu Go agent</summary>
    <description>The Sensu agent is a lightweight Sensu Go client that runs on the infrastructure components you want to monitor.</description>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
