/etc/sensu 040755 root root
/usr/sbin/sensu-backend 0100755 root root
/usr/share/doc/sensu-go-backend-@SENSU_VERSION@ 040755 root root
/usr/share/doc/sensu-go-backend-@SENSU_VERSION@/LICENSE.txt 0100444 root root
/usr/share/doc/sensu-go-backend-@SENSU_VERSION@/README.txt 0100444 root root
/usr/share/doc/sensu-go-backend-@SENSU_VERSION@/backend.yml.example 0100644 root root
/usr/share/sensu-go-backend-@SENSU_VERSION@ 040755 root root
/usr/share/sensu-go-backend-@SENSU_VERSION@/sensu-backend 0100644 root root
/usr/share/sensu-go-backend-@SENSU_VERSION@/sensu-backend.service 0100644 root root
/var/cache/sensu 040755 root root
/var/cache/sensu/sensu-backend 040750 root root
/var/lib/sensu 040755 root root
/var/lib/sensu/sensu-backend 040750 root root
/var/log/sensu 040750 root root
/var/run/sensu 040750 root root
