drwxr-xr-x root/root ./etc/
drwxr-xr-x root/root ./etc/sensu/
drwxr-xr-x root/root ./usr/
drwxr-xr-x root/root ./usr/sbin/
-rwxr-xr-x root/root ./usr/sbin/sensu-backend
drwxr-xr-x root/root ./usr/share/
drwxr-xr-x root/root ./usr/share/doc/
drwxr-xr-x root/root ./usr/share/doc/sensu-go-backend-5.2.1/
-r--r--r-- root/root ./usr/share/doc/sensu-go-backend-5.2.1/LICENSE.txt
-r--r--r-- root/root ./usr/share/doc/sensu-go-backend-5.2.1/README.txt
-rw-r--r-- root/root ./usr/share/doc/sensu-go-backend-5.2.1/backend.yml.example
drwxr-xr-x root/root ./usr/share/sensu-go-backend-5.2.1/
-rw-r--r-- root/root ./usr/share/sensu-go-backend-5.2.1/sensu-backend
-rw-r--r-- root/root ./usr/share/sensu-go-backend-5.2.1/sensu-backend.service
drwxr-xr-x root/root ./var/
drwxr-xr-x root/root ./var/cache/
drwxr-xr-x root/root ./var/cache/sensu/
drwxr-x--- root/root ./var/cache/sensu/sensu-backend/
drwxr-xr-x root/root ./var/lib/
drwxr-xr-x root/root ./var/lib/sensu/
drwxr-x--- root/root ./var/lib/sensu/sensu-backend/
drwxr-xr-x root/root ./var/log/
drwxr-x--- root/root ./var/log/sensu/
drwxr-xr-x root/root ./var/run/
drwxr-x--- root/root ./var/run/sensu/
