/etc/sensu 040755 root root
/usr/sbin/sensu-agent 0100755 root root
/usr/share/doc/sensu-go-agent-@SENSU_VERSION@ 040755 root root
/usr/share/doc/sensu-go-agent-@SENSU_VERSION@/LICENSE.txt 0100444 root root
/usr/share/doc/sensu-go-agent-@SENSU_VERSION@/README.txt 0100444 root root
/usr/share/doc/sensu-go-agent-@SENSU_VERSION@/agent.yml.example 0100644 root root
/usr/share/sensu-go-agent-@SENSU_VERSION@ 040755 root root
/usr/share/sensu-go-agent-@SENSU_VERSION@/sensu-agent 0100644 root root
/usr/share/sensu-go-agent-@SENSU_VERSION@/sensu-agent.service 0100644 root root
/var/cache/sensu 040755 root root
/var/cache/sensu/sensu-agent 040750 root root
/var/lib/sensu 040755 root root
/var/lib/sensu/sensu-agent 040750 root root
/var/log/sensu 040750 root root
/var/run/sensu 040750 root root
